@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

ul {
  list-style-type: none;
}

.fiveDays {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-right: 15px;
}

body {
  background-image: url('3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
}

#weatherSummary_header {
  font-family: 'Poppins', sans-serif;
  margin-left: 15px;
  color: #eee;
}

#weatherSummary_content {
  border: 1px solid white;
  border-radius: 10px;
  width: 50%;
  margin-left: 10px;
  margin-right: 20px;
  background: rgba(24, 24, 27, 0.6);
}

#weatherSummary_info {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.centralContent > ul {
  padding: 0;
  margin: 0 auto;
}

.centralContent li {
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  font-family: 'Poppins', sans-serif;
  color: #eee;
  background: rgba(24, 24, 27, 0.6);
}

#fiveDayForecaset_holder {
  margin: 250px 0 0 0;
}
